body {
  font-family: $fuente-principal;

}

i {
  font-size: 24px;
}


.logo-img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: $color-principal;
  text-align: center;
}

.img--md {
  width: 120px;
  height: 100%;
  object-fit: cover;
}
.img--lg {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.img-responsive {
  height: 100% !important;
  object-fit: cover;
  width:80%;
  max-width: 250px;
}

.footer__logo{
  width: 100% !important;
  .figure{
    width: 100% !important;
  }
}

.logo-img--xl {
  max-width: 300px;
  width: 100% !important;
}

.bg-default {
  background-color: $fondo-default !important;
}


.centrado-md {
  width: 70%;
  margin: 0 auto;
}

.centrado-sm{
  width: 80%;
  margin: 0 auto;
}

.centrado-sm--phone{
  width: 80%;
  margin: 0 auto;
}


.accordion-button {
  padding: 25px !important;
  outline: none !important;
}

/* Remove blue outline on accordion-button focus */
.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: $color-terciario !important;
  background-color: $color-principal !important;

}

.accordion-body>* {
  @extend .p-main;
}



ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}


// Margenes




section {
  margin: $margin 0;

}

.section-0 {
  margin: 0 0 $margin 0 !important;
  background-color: $fondo-terciario;
}


.section-top{
  margin-top: 0 !important;
  margin-bottom: $margin ;
}


.input-group--modal{
 width: 100%;
margin: 0 auto;

  .form-control{
    width: 40% !important;
}
}


.p-main {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

.p-secondary {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 0.8em;
}

.title-text {
  font-size: 1.2rem;
  // font-weight: bold;
}

// Encabezados
h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
  // font-weight: bold;
  margin-bottom: 3rem;
}

h3 {
  font-size: 30px;
  font-weight: regular;
}

h4 {
  font-size: 24px;
  // font-weight: bold;
}




@media (min-width: 768px) {
  .centrado-sm--phone{
    width: 100%;
    margin: 0 auto;
  }
  
  

}


/* Mediaquery para tamaños de pantalla más pequeños */
@media (max-width: 767px) {
  .centrado-md {
    width: 100%;
  }

  .p-main {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 0.8em;
  }

  .p-secondary {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 0.6em;
  }

  .title-text {
    font-size: 1rem;
    font-weight: bold;
  }
  

  
  section {
    margin:  100px 0;
  
  }

  .section-0 {
    margin: 0 0 100px 0 !important;

  }
  
  .section-top{
   
    margin-bottom: 100px  !important;
  }
  
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 28px  !important;
  }

  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 16px !important;
  }
}