


.footer{
    position: relative;
    height: auto;
    background: url('../assets/global/footer2.jpg') no-repeat center 70%; 
    background-size: cover;
    background-color: $color-principal;
    display: grid;
    padding: 3rem;
    color: white !important;
    gap: 2rem !important;

    .p-secondary{
        margin: 0;
    }


  &__logo{}

    &__nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
    }



  
    

    &__media{
       
        .sociales-container__info{
            justify-content: space-between;
            margin: 0;
        }

        .footer__sociales-container{
            display: flex;
            flex-direction: column;

            .sociales-container__redes{
               flex-direction: row ;
            }
        }
    }

}


@media (min-width: 576px) {
    .footer__sociales-container{
        display: flex;
        flex-direction: row !important;

        .sociales-container__redes{
            flex-direction: column !important;
         }
     
    }
}


@media (min-width: 992px) {
    .footer{
        grid-template-columns: 1fr 2fr ;
        grid-template-rows: 1fr 1fr;
 
    
        &__logo{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            
        }
    
        &__nav{
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            justify-content: center;
            text-align: center;
            flex-direction: row;
        }
    
        &__media{
            align-content: end;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
          
            h3{
                margin-bottom: 1rem;
            }
        }

    
    }
}

@media (min-width: 1200px) {
  
    .footer{
 
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        height: 400px;
        gap: 1rem;


        &__logo{
            grid-column: 1 / 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between !important;
        }
    
        &__nav{
            grid-column: 2 / 3;
            grid-row: 1;
        }
    
        &__media{
            align-content: start;
            grid-column: 3 / 4;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between !important;
            text-align: end;
        }

        &__sociales-container{
            justify-content: end;
        }
    
    }
}