// .header--component{
//   height: 100%;
// }





@media (max-width: 767px) {

.navbar-collapse ul{
  padding: 2rem 1.5rem;
}

.menu-custom {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: $color-secundario; 
  z-index: 777; 
}
}

/*Header sin hero incluido*/
.navbar-toggler--dark{
  background-color: $color-secundario;

  .navbar-toggler-icon{
    color: $color-principal;
  }
}

.color-dark *{
  color: $color-secundario !important;

  button{
    color: $color-terciario !important;
  }
}



.color-white *{
  color: $color-terciario !important;

  button{
    color: $color-terciario !important;
  }
}

@media (min-width: 767px) {

  .color-white *{
    color: $color-secundario !important;
  }
}