/*
 <h1>Lider de mercado</h1>
      <h1>Facilitando tus Importaciones Globales</h1>
      <h3>Expertos en Logística de Importación y Aduanas</h3>
      <a href="sobreNosotros.html" class="btn btn-primary mt-3 d-flex align-items-center gap-2">Sobre Nosotros </a>
      <!-- <i
          class="fa-solid fa-arrow-right"></i> -->
*/
.hero {
  background-image: url('../assets/index/hero3.webp'), url('../assets/index/hero2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  color: white;
  opacity: 100%;
  overflow: hidden;
  position: relative;
}


  .hero-content {
    z-index: 500;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -100px !important;

    h1{
      font-size: 3.5rem;
      font-weight: 500;
    }
    h3{
      font-weight:300;
    }
  }

.empresas-asociadas{
  margin-top: 60px;
  height: 24vh;
}

.height-100{
  height: 100%;
}

.empresa-asociada__thumbnail{
display: flex;
justify-content: center;
align-items: center;
  width: 100%;
  margin: 0 !important;
}



.nbc-resumen{
  height: auto;
}

.nbc-resumen > div{
  height: 100%;
}

.nbc-resumen__thumbnail {
  height: 100%
  }

.nbc-resumen__thumbnail img{
height: 100%;
width: 100%;
object-fit: cover;
}


.oficio__servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.oficio__servicio {
  padding: 16px 10px;
  background-color: #f0f0f0; /* Sustituir con el color deseado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto flotante */
  border-radius: 8px; /* Bordes redondeados */
 
  flex: 1 1 calc(33.33% - 1em); /* Ocupa 1/3 del ancho con margen */
  max-width: calc(33.33% - 1em);/* Asegura que el ancho máximo no exceda 1/3 */
  min-width: 385px; 
}


.oficio__servicio::before {
  content: '•'; /* Agrega un punto antes del texto */
  font-size: 1.5em;
  color: #3498db; /* Color del punto */
  margin-right: 10px;
}

@media (max-width: 768px) {
  .oficio__servicios {

    flex-direction: column; /* Coloca los ítems en una columna en pantallas pequeñas */
    padding: 0;
    margin: 50px 0 0 0;
    width: 100%;
  }

  .oficio__servicio {

    min-width: 100% !important;
    width: 100% !important;
  }
}



@media (max-width: 992px) {
  .nbc-resumen{
    height: auto ;
  }
}
@media (max-width: 767px) {
  .empresas-asociadas{
    height: auto;
  }

  .oficio *{
    text-align: left;
  }

}

@media screen and (max-width: 576px) {
  .empresa-asociada__thumbnail img{
    width: 50% !important;
    height: 200px !important;
    object-fit: contain !important;  
  }
}


