.reconocimientos {
    margin: 0 0 $margin 0 !important;

    h2{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .carousel {

        height: auto !important;


        &-inner {
            height: 100%;
        }

        &-item {
            height: 100%;
        }


        &-item img {
            height: 700px ;
            object-fit: cover;
        }

        .carousel-caption {
            color: $fondo-primario !important;
        }

        // .carousel-dark .carousel-indicators [data-bs-target] {
        //     background-color:$fondo-primario !important;
        // }

            h5{
                font-size: 2rem;
            }
    }
}


.nbc-description{
       margin: 0 !important;
        min-height: 700px;

        width: 100%;
        position: relative;
        background-color: black;
        padding: 0 ;
        gap: 2em;

        .nbc-description__video-container{
            position: absolute;
            height: 100% ;
            width: 100%;
            z-index: 1;
            opacity: 10%;
        
            .nbc-description__video{
                height: 100% ;
                width: 100%;
       
                object-fit: cover;

               
            }
        }
    
        .nbc-description__thumbnail{
            z-index: 100;
        }


        .nbc-description__content{
            z-index: 100;
            color: $color-terciario;
            width: 60%;
        }
    
}

.timeline-section {
    margin-top: 0 !important;

    padding: 100px 0;
    background-color: $fondo-terciario;

    h2 {
        text-align: center;
    }

    img{
        height: 350px !important;
        width: 100%;
        object-fit: cover;
    }

    /* The actual timeline (the vertical ruler) */
    .main-timeline {
        position: relative;
    }

    /* The actual timeline (the vertical ruler) */
    .main-timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: #9395973a;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        z-index: 1;
    }

    /* Container around content */
    .timeline {
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .timeline::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: $color-secundario;
        border: 5px solid $color-principal;
        top: 15px;
        border-radius: 50%;
        z-index: 50 ;
    }

    /* Place the container to the left */
    .left {
        padding: 0px 40px 20px 0px;
        left: 0;
    }

    /* Place the container to the right */
    .right {
        padding: 0px 0px 20px 40px;
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        position: absolute;
        top: 18px;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        position: absolute;
        top: 18px;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
        left: -12px;
    }
}


.valores-nbc{
    .row{
        h2{
            text-align: center;
        }

        .card-title{
            text-align: center;
        }
    }
}

.card-text{
    @extend .p-main;
  }

  .directivos-nbc{
    padding: 100px 50px;
    background-color: $fondo-terciario;
    margin-bottom: 0;

 
  }
  

  @media (max-width: 998px) {
    .directivos-nbc{
       
    
        img{
            max-width: 70%;
        }
      }
    
}


@media (max-width: 767px) {
    .reconocimientos{
        margin: 0 !important;
    }

    
}

@media screen and (max-width: 600px) {


    .nbc-description{
        padding: 4em 0 !important;

        .nbc-description__content{
            width: 80% !important;
        }
    }

    /* Aplicar estilos para la línea de tiempo en pantallas pequeñas */
    .main-timeline::after {
        display: none;
        /* Ocultar el eje vertical */
    }

    .timeline {
        width: 100% !important;
        padding-left: 0 !important;
        /* Eliminar el relleno izquierdo */
        padding-right: 0 !important;
        /* Eliminar el relleno derecho */
    }

    .timeline::before {
        display: none;
        /* Ocultar la línea horizontal */
    }

    .left::before,
    .right::before {
        display: none;
        /* Ocultar las flechas */
    }

    .left::after,
    .right::after {
        display: none;
        /* Ocultar los círculos */
    }

    .right {
        left: 0 !important;
    }

}

@media  (max-width: 576px) {
    .carousel {


        .carousel-item-img  {
            height: 400px !important;
            object-fit: cover;
        }

}
}