/*Colores*/

$color-principal: #1e90cf;
$color-secundario: #1d1d1b;
$color-terciario: #fff;

$fondo-primario: #fff;
$fondo-terciario: #F0F2F5;
$fondo-default: black;

$btn-primary: $color-principal !default;


/*Fuente*/
$fuente-principal: 'Poppins', sans-serif;






.btn{
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;


    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn:hover,
  .btn:focus {
    opacity: .75;
  }
  
$btn-primary: $color-principal !important;



.accordion-item {	 
    
   
}

.accordion-button{
    padding: 25px !important;
    outline: none !important;
}

/* Remove blue outline on accordion-button focus */
.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: $color-terciario !important;
    background-color: $color-principal !important;

}
.accordion-button:not(.collapsed)::after {

}