@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/*Colores*/

$color-principal: #1e90cf;
$color-secundario: #1d1d1b;
$color-terciario: #fff;

$fondo-primario: #fff;
$fondo-terciario: #F0F2F5;
$fondo-default: black;

$btn-primary: $color-principal !default;


/*Fuente*/
$fuente-principal: 'Source Sans 3',sans-serif;
$fuente-secundaria: "Lato", serif;

$margin: 150px;

.modal-content{
   color: $color-secundario !important;
}

.btn{
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  background-color: $color-principal !important;
  outline: none;
  overflow: hidden;
  padding: 10px 20px 10px 20px !important;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: all 0.5s ease-in !important;
  -webkit-animation: all .5s ease-in !important;
  border: none !important;
}



  .btn:hover,
  .btn:focus {
    opacity: .75;
  }

  .btn-secondary{
    background-color: $color-secundario !important;
  }
  
  .btn-scroll {
    position: absolute;
    right: 20px;
    top: -60px;
    display: block;
    /*Aseguramosqueelbotónseavisibleparalademostración*/z-index: 150;
    border-radius: 50%;
    transition: top 0.1s ease-in-out !important;
    /*Usamosunatransiciónparasuavizarelmovimiento*/animation-duration: 2s all;
    -webkit-transition: top 0.1s ease-in-out !important;
    -moz-transition: top 0.1s ease-in-out !important;
    -ms-transition: top 0.1s ease-in-out !important;
    -o-transition: top 0.1s ease-in-out !important;
}

.btn-scroll:hover {
    top: -65px !important; /* Movemos el icono hacia arriba */
}

.carousel-control-prev-icon,.carousel-control-next-icon, .carousel-indicators{
    filter: grayscale(100%) !important;
    -webkit-filter: brightness(0) invert(1)!important;

}
