/*Colores*/

$color-principal: #1e90cf;
$color-secundario: #1d1d1b;
$color-terciario: #fff;

$fondo-primario: #fff;
$fondo-terciario: #F0F2F5;
$fondo-default: black;

$btn-primary: $color-principal !default;


/*Fuente*/
$fuente-principal: 'Poppins', sans-serif;


.modal-content{
   color: $color-secundario !important;
}



.btn{
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    background-color: $color-principal ;
    outline: none;
    overflow: hidden;
    padding: 10px 20px 10px 20px !important;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    animation: all 0.5s ease-in !important;
    -webkit-animation: all .5s ease-in !important;
    border: none !important;
}
  
  .btn:hover,
  .btn:focus {

    opacity: .75;
  }
  



.carousel-control-prev-icon,.carousel-control-next-icon, .carousel-indicators{
    filter: grayscale(100%) !important;
    -webkit-filter: brightness(0) invert(1)!important;

}



